<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExploreController</servlet-name>
        <servlet-class>controller.ExploreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login/dologin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login/dologout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/dodaftar</url-pattern>
        <url-pattern>/user/notifikasi</url-pattern>
        <url-pattern>/user/profil</url-pattern>
        <url-pattern>/user/closerec</url-pattern>
        <url-pattern>/user/listcv</url-pattern>
        <url-pattern>/user/pendaftaranku</url-pattern>
        <url-pattern>/user/daftar</url-pattern>
        <url-pattern>/user</url-pattern>
        <url-pattern>/user/dashboard</url-pattern>
        <url-pattern>/user/terimaclosereg</url-pattern>
        <url-pattern>/user/doterimaclosereg</url-pattern>
        <url-pattern>/user/tolakclosereg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExploreController</servlet-name>
        <url-pattern>/explore</url-pattern>
        <url-pattern>/explore/showlistorg</url-pattern>
        <url-pattern>/explore/showdetailorg</url-pattern>
        <url-pattern>/explore/showlistlwg</url-pattern>
        <url-pattern>/explore/showdetaillwg</url-pattern>
        <url-pattern>/explore/showalbums</url-pattern>
        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/daftar-organisasi</url-pattern>
        <url-pattern>/daftar-organisasi/add</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
