.number-notif{
	font-size: 16px;
	font-weight: bolder;
	background: white;
	border:0.5px solid;
	border-radius: 3px;
	color:black;
	padding-left: 7px;
	padding-right: 7px;
	margin-right: 5px;
}

.dropdown-login{
	min-width:250px;
}

.login-nav-form{
	padding:20px;
}

.dashboard-dropdown{
	max-width:270px;
}

.judul-halaman{
	font-size: 40px;
	border-bottom:solid 2px #998291; 
}

.img-list-lowongan{
	width:250px;
}

.deskripsi-lowongan{
	font-size:13px;
}

.item-lowongan{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: dotted 1px #efefef;
}

.lowongan-description{
	font-size:13px;
	margin-bottom: 45px;
}



.logo-org-sm{
	width: 100px;
	height: 100px;
}

.box-org{
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.box-org :hover{
    -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
}